<div style="margin-left: 50%; margin-top: 30px; margin-bottom: 30px">
  <h5>liste des devlopeurs</h5>
</div>

<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id Devlopeur</th>
            <th>Nom Devlopeur</th>
            <th>Prenom Devlopeur</th>
            <th>Mail Devlopeur</th>
            <th>Adresse Devlopeur</th>
          </tr>
        </thead>
        <tbody *ngFor="let dev of devlopers">
          <tr>
            <td>{{ dev.idDev }}</td>
            <td>{{ dev.lastNameDev }}</td>
            <td>{{ dev.firstNameDev }}</td>
            <td>{{ dev.mailDev }}</td>
            <td>{{ dev.adressDev }}</td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updateDevloper', dev.idDev]"
                >Modifier</a
              >
            </td>
            <td>
              <a class="btn btn-danger" (click)="supprimerProduit(dev)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-primary"
                [routerLink]="['/detailDevloper', dev.idDev]"
                >Details</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-success" routerLink="/add-devlopers"
        >ajouter devlopeur</a
      >
    </div>
  </div>
</div>
