<div class="container">
  <div>
    <h2>Ajouter un Devlopeur :</h2>
  </div>

  <form>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>prénom devlopeur</label>
      <input
        type="text"
        name="nomProj"
        class="form-control"
        [(ngModel)]="d.lastNameDev"
      />
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>nom devlopeur</label>
      <input
        type="text"
        [(ngModel)]="d.firstNameDev"
        name="lien Proj"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>mail devlopeur</label>
      <input
        type="text"
        [(ngModel)]="d.mailDev"
        name="mailDev"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>adresse devlopeur</label>
      <input
        type="text"
        [(ngModel)]="d.adressDev"
        name="mailDev"
        class="form-control"
      />
    </div>
    <div class="mt-2">
      <button type="submit" (click)="addDevloper()" class="btn btn-success">
        Ajouter un Devlopeur
      </button>
      <div>
        <h3>{{ message }}</h3>
      </div>
    </div>
  </form>
</div>
